<div class="container grid-lg" id="articles-container" style="display: none">
    <div class="columns">
        {{#each articles}}
        <div class="column col-sm-12 col-md-6 col-4 article">
            <div class="card my-2">
                <div class="card-header text-dark">
                    <div class="card-title mb-1">
                        <a href="{{url}}">{{headline}}</a>
                    </div>
                    <div class="tile tile-centered">
                        <div class="tile-icon">
                            <figure class="avatar">
                                <a href="{{blog.mainUrl}}">
                                    <img src="{{blog.icon}}" alt="{{blog.name}} icon">
                                </a>
                            </figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title">
                                <a href="{{blog.mainUrl}}">{{blog.name}}</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body mb-2">
                    {{summary}}
                </div>
                <div class="divider"></div>
                <div class="card-footer" data-id="{{_id}}">
                    <button class="btn btn-action bookmark-btn">
                        <i class="icon icon-bookmark"></i>
                    </button>
                    <button class="btn btn-action badge comments-btn" data-badge="{{numComments}}">
                        <i class="icon icon-message"></i>
                    </button>
                </div>
            </div>
            <div class="modal" data-id="{{_id}}">
                <a href="/" class="modal-overlay" aria-label="Close"></a>
                <div class="modal-container">
                    <div class="modal-header">
                        <a href="/" class="btn btn-clear float-right" aria-label="Close"></a>
                        <div>Comment on</div>
                        <div class="modal-title h5 text-ellipsis">{{headline}}</div>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            {{#each comments}}
                            <div class="divider"></div>
                            <div class="tile my-2">
                                <div class="tile-icon">
                                    <i class="icon icon-message"></i>
                                </div>
                                <div class="tile-content">
                                    <p class="my-1 tile-title text-gray">{{formattedDate}}</p>
                                    <p class="mb-1 tile-subtitle">{{comment}}</p>
                                </div>
                                <div class="tile-action">
                                    <button class="btn btn-action delete-comment-btn" data-id="{{_id}}">
                                        <i class="icon icon-delete"></i>
                                    </button>
                                </div>
                            </div>
                            {{/each}}
                            <div class="divider"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="input-group">
                            <input class="form-input" type="text" placeholder="Write a comment...">
                            <button class="btn btn-primary input-group-btn submit-comment-btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if pagination}}
    <div class="columns">
        <div class="column pagination-container">
            <ul class="pagination">
                {{#if pagination.firstPage.isCurrentPage}}
                <li class="page-item disabled">
                    <a href="#" tabindex="-1">First</a>
                </li>
                <li class="page-item disabled">
                    <a href="#">Previous</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a href="/page?p=1" tabindex="-1">First</a>
                </li>
                <li class="page-item">
                    <a href="/page?p={{pagination.prevPage.id}}">Previous</a>
                </li>
                {{/if}} {{#each pagination.pages}} {{#if isCurrentPage}}
                <li class="page-item active">
                    <a href="/page?p={{pageNumber}}">{{pageNumber}}</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a href="/page?p={{pageNumber}}">{{pageNumber}}</a>
                </li>
                {{/if}} {{/each}} {{#if pagination.lastPage.isCurrentPage}}
                <li class="page-item disabled">
                    <a href="#">Next</a>
                </li>
                <li class="page-item disabled">
                    <a href="#">Last</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a href="/page?p={{pagination.nextPage.id}}">Next</a>
                </li>
                <li class="page-item">
                    <a href="/page?p={{pagination.lastPage.id}}">Last</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    {{/if}}
</div>