{{!-- {{#each articles}}
<h1>
    <a href="{{url}}">{{headline}}</a>
</h1>
<p>{{summary}}</p>
<br> {{/each}} --}}
<div class="container">
    <div class="columns">
        <div class="column">
            <h1>Data Viz News</h1>
        </div>
    </div>
    <div class="columns">
        {{#each articles}}
        <div class="column col-sm-12 col-4">
            <div class="card">
                {{!--
                <div class="card-image">
                    <img src="img/osx-el-capitan.jpg" class="img-responsive">
                </div> --}}

                <div class="card-header">
                    <a href="{{url}}">
                        <div class="card-title h5">{{headline}}</div>
                    </a>
                    <div class="tile tile-centered">
                        <div class="tile-icon">
                            <figure class="avatar">
                                <img src="https://i1.wp.com/flowingdata.com/wp-content/uploads/2014/10/logo-lone-square-600-5451c585_site_icon.png" alt="YZ">
                            </figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title">Flowing Data</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{summary}}
                </div>
                <div class="card-footer">
                    <button class="btn">
                        <i class="icon icon-bookmark"></i>
                    </button>
                    <button class="btn badge" data-badge="8">
                        <i class="icon icon-message"></i>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>